header {
    background-color: aqua;

}



main {
    background-color: lavender;
    width: 52%;
    float: left;
}

img {
    width: 75%;
    float: ;
}



aside {
    background-color: pink;
    width: 44%;
    float: none;
}