header {
    background-color: aqua;

}



main {
    background-color: lavender;
    width: 52%;
    float: left;
}

img {
    width: 60%;
    float: none;
    border: 50;
    margin: 20%;
    padding: 20;
}

footer {
    clear: both;
}


aside {
    background-color: pink;
    width: 44%;
    float: right;

}

aside>ul>li {

    padding: 5%;
    border: 1px black solid;
    width: 50px;


}